.card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card__image {
    margin-bottom: 12px;
    height: 413px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    max-width: 353px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.card__like-btn {
    background-image: url(../images/heart.svg);
    cursor: pointer;
    opacity: 0.4;
    width: 23px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.card__like-btn:hover {
    opacity: 100%;
}

.card__like-btn_active {
   background-image: url(../images/heartLiked.svg);
   opacity: 100%;
}

.card__like-btn_active:hover {
   opacity: 0.4;
}

.card__delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url(../images/deleteDefault.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    cursor: pointer;
    z-index: 2;
}

.card__delete-btn:hover {
    background-image: url(../images/deleteHover.svg);
}


@media screen and (max-width: 630px) {

    .card__image {
        height: 288px;
    }

    .card__title {
        max-width: 235px;
    }
}