.card {
    display: flex;
    flex-direction: column;
}

.card__image {
    margin-bottom: 12px;
    height: 413px;
    object-fit: cover;
    border-radius: 8px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    max-width: 353px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.card__like-btn {
    background-image: url(../images/heart.svg);
    cursor: pointer;
    opacity: 40%;
    width: 23px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.card__like-btn:hover {
    opacity: 100%;
}

@media screen and (max-width: 630px) {

    .card__image {
        height: 288px;
    }

    .card__title {
        max-width: 235px;
    }
}