.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 0 0 108px 0;
  max-width: 668px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
}

.footer {
  padding: 60px 0;
}

@media screen and (max-width: 630px) {
  .footer__copyright {
    padding: 54px 92px;
  }
}
