.profile {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0 0 20px;
    border: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
    margin-right: 20px;
    height: 190px;
    width: 190px;
    
}

.profile__column {
    display: flex;
    flex-direction: column;
}


.profile__name {
   margin: 0 0 12px 0; 
   font-weight: 500;
   font-size: 32px;
   line-height: 1; 
}

.profile__description {
    margin: 0;
    opacity: 70%;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}

.profile__edit-btn {
    margin-top: auto;
    opacity: 70%;
    background-color: none;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
}

.profile__edit-btn:hover {
    opacity: 100%;
    background-color: transparent;
    box-shadow: none;
}

.profile__add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding: 32px 18px;
    width: 149px;
    height: 52px;
    gap: 8px;
    border-radius: 8px;
    z-index: 10;
    margin-left: auto;
    margin-top: auto;
}

.profile__add-btn:hover {
    opacity: 80%;
    background-color: #212121;
}


@media screen and (max-width: 630px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        border: none;
        border-bottom: 1px solid rgba(33, 33, 33, 0.4);

    }

    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px;
    }

    .profile__name {
        font-size: 20px;
        margin: 0 0 6px;
    }

     .profile__column {
        margin:  0 0 20px;
        display: flex;
        align-items: center;
    }

    .profile__description {
        margin: 0 0 32px;
    }

    .profile__add-btn {
        margin: 0 auto;
        width: 100%;
        width: 288px;
        height: 52px;
    }

   

}